# Ignore virtual environment
venv/
.venv/

# Ignore Python cache files
__pycache__/
*.pyc

# Ignore IDE and OS files
.idea/
.vscode/
.DS_Store

# Ignore MLflow experiment tracking directory
mlruns/

# Ignore the raw input data, which is large and not needed by the final app
input_files/
