# Ignore virtual environment
venv/
.venv/

# Ignore Python cache files
__pycache__/
*.pyc

# Ignore IDE and OS files
.idea/
.vscode/
.DS_Store

# Ignore MLflow experiment tracking directory
mlruns/

# --- IGNORE LARGE DATA FILES ---
# Ignore the raw input data and the large processed CSV
# These should be downloaded by the user separately.
input_files/
*.csv
deep_learning_model.h5
lgbm_model.txt
sahie_processed.csv
